target/
external/
.vscode/
deps*/
.DS_Store
build/
.cmake/
Testing/
.ninja_*
*.ninja
src/lib/libthunder.a
CMakeFiles/
cmake-build-debug/
.idea/
CMakeCache.txt
cmake_install.cmake
Makefile
src/lib/libthunder-audio-queue-services.a
src/example/audio-test
